VITE_SUPABASE_URL=https://naynzlbtqxcsabmemxsh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5heW56bGJ0cXhjc2FibWVteHNoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU1MzcyOTIsImV4cCI6MjA3MTExMzI5Mn0.7MJsJBIE-f-2XrpYfCIG3hrTCXZg7lPEvcCgRqBKuW4